.corner {
	overflow: hidden;
	position: absolute;
	right: -3.5em;
	top: 2.5em;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 10;
}

.corner span {
	color: #fff;
	display: block;
	font-size: .9em;
	font-weight: bold;
	padding: 0.5em 3em;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	z-index: 10;
}

.open {
	background-color: #055C27;
}

.closed {
	background-color: #950F09;
}

.end {
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.shape {
	border-style: solid;
	border-width: 0 85px 85px 0;
	float: right;
	height: 0px;
	width: 0px;
	-ms-transform: rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Opera 10.5 */
	-webkit-transform: rotate(360deg); /* Safari and Chrome */
	transform: rotate(360deg);
}

.offer {
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	margin: 15px 0;
	overflow: hidden;
}

.offer-radius {
	border-radius: 7px;
}

.offer-danger {
	border-color: #d9534f;
}

.offer-danger .shape {
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-success {
	border-color: #5cb85c;
}

.offer-success .shape {
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255, 255, 255, 0) #5cb85c rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-default {
	border-color: #999999;
}

.offer-default .shape {
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255, 255, 255, 0) #999999 rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-primary {
	border-color: #428bca;
}

.offer-primary .shape {
	border-color: transparent #428bca transparent transparent;
	border-color: rgba(255, 255, 255, 0) #428bca rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-info {
	border-color: #5bc0de;
}

.offer-info .shape {
	border-color: transparent #5bc0de transparent transparent;
	border-color: rgba(255, 255, 255, 0) #5bc0de rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-warning {
	border-color: #f0ad4e;
}

.offer-warning .shape {
	border-color: transparent #f0ad4e transparent transparent;
	border-color: rgba(255, 255, 255, 0) #f0ad4e rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.shape-text {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	right: -30px;
	top: 0px;
	white-space: nowrap;
	-ms-transform: rotate(45deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Opera 10.5 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	transform: rotate(45deg);
}

.offer-content {
	padding: 0 20px 10px;
}