@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato Regular'), url('../fonts/Lato-Regular.ttf') format ('truetype');
}

* {
	font-family: 'Lato', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.navbar-brand {
	font-size: 1.3em;
}

.acronym {
	font-weight: bold;
	font-size: 2em;
	padding-right: 5px;
}

.main {
	max-width: 320px;
	margin: 0 auto;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.label-as-badge {
	border-radius: 1em;
}

.jumbotron {
	background-color: white;
}

.navbar-default {
	background-color: white;
	border-color: white;
	border-bottom-color: #F0F0F0;
}

.modal-dialog {
	width: 400px;
}