h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

.section-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

ul.event-race-list-info {
	list-style-type: square;
}

.event-info-icon {
	padding-right: 10px;
}

.event-description {
	color: black;
	font-size: 1.1em;
	text-align: justify;
	line-height: 25px;
	padding-bottom: 30px;
}

.event-race-detail {
	margin-top: 20px;
}

.event-race {
	border-top: 1px solid #eee;
}

.event-organizers {
	text-align: center;
}

.title {
	font-size: xx-large;
	border-top: 1px solid #eee;
	padding-top: 30px;
	padding-bottom: 0px;
}

.no-border {
	border: 0px;
}

.event-organizer {
	display: inline-block;
	float: none !important;
}

.event-organizer-picture {
	border-radius: 10px;
}

.event-organizer-picture-parent {
	padding-left: 30px;
	padding-right: 30px;
}

.event-organizer-name {
	font-size: large;
	padding-top: 15px;
	padding-bottom: 7px;
}

.event-organizer-email {
	
}

.event-organizer-mobile {
	
}

#map {
	height: 300px;
	width: auto;
}

.race-title {
	margin-bottom: 13px;
}

.race-info {
	padding-left: 0px;
	padding-right: 0px;
}

.race-name {
	font-size: x-large;
	padding-right: 6px;
}

.race-description {
	text-align: justify;
}

.race-date {
	font-size: 15px;
	color: #d9534f;
}

.race-registration {
	font-size: 16px;
}

.race-registration-icon {
	float: left;
	height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}

.race-registration-price {
	font-size: small;
	color: #cffccf;
}

.race-registration-hint {
	font-size: small;
}

.modality-icon {
	width: 16px;
	height: 16px;
}

.calendar {
	border: 1px solid #dbdbdb;
	margin-right: 10px;
	text-align: center;
	font-size: 11px;
	float: left;
	width: 40px;
	float: left;
	font-size: 11px;
	border-radius: 2px;
}

.calendar .day {
	font-size: 1.3em;
}

.calendar .month {
	background-color: #d9534f;
	font-size: 0.9em;
	color: white;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}