#button-row {
    margin-bottom: 15px;
}

.member .first-column table td:first-child {
    padding-right: 8px;
}

.member span.hidden-xs {
    padding-right: 4px;
}

#members-list {
    margin-top: 0px;
    margin-bottom: 5px;
}

#summary-section > row:first {
    padding-bottom: 20px
}

.amount, .first-column, .kit, .trash {
    vertical-align: middle !important;
}

.trash {
    padding-right: 0px;
    padding-left: 0px;
}

.kit, .kit:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.footable-row-detail-name {
    padding-left: 46px;
}

.glyphicon {
    font-size: 0.8em
}

.panel-body br {
    line-height: 200%;
}

.panel-heading > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.breadcrumb.organizer, .athlete {
    display: none;
}
