h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

ul.event-race-list-info {
	list-style-type: square;
}

/* li:before { */
/* 	content: "■"; */
/* 	color: blue; */
/* } */

/* .equal, .equal>div[class*='col-'] { */
/* 	display: -webkit-box; */
/* 	display: -moz-box; */
/* 	display: -ms-flexbox; */
/* 	display: -webkit-flex; */
/* 	display: flex; */
/* 	flex: 1 1 auto; */
/* } */
.event-banner {
	/* 	background-color: black; */
	/* 	position: relative; */
	
}

.event-banner .right-col {
	/* 	height: 350px; */
	/* 	line-height: 350px; */
	/* 	position: relative; */
	/* 	top: 50%; */
	/* 	transform: translateY(	+10%); */
	/* 	position: absolute; */
	/* 	top: 50%; */
	/* 	left: 50%; */
	/* 	transform: translate(0%, -50%); */
	
}

.event-title {
	font-size: xx-large;
	color: black;
}

.event-info {
	/* 	margin-top: 1px; */
	/* 	background-color: gray; */
	/* 	margin-top: 30px; */
	/* 	margin-bottom: 40px; */
	
}

.section-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.event-info-icon {
	padding-right: 10px;
}

.event-description {
	color: black;
	font-size: 1.1em;
	text-align: justify;
	line-height: 25px;
	border-top: 1px solid #eee;
}

.event-race-detail {
	margin-top: 20px;
}

.event-race {
	/* 	background-color: #efefef; */
	/* 	padding-top: 30px; */
	/* 	padding-bottom: 30px; */
	/* 	padding-left: 30px; */
	/* 	padding-right: 30px; */
	/* 	border-left: 6px solid #3c763d; */
	border-top: 1px solid #eee;
	/* 	margin-bottom: 20px; */
}

.yyy {
	text-align: center;
	background-color: #4f4a4c;
}

.event-organizers-section {
	/* 	background-color: #f1f1f1; */
	color: #777;
}

.event-organizers {
	text-align: center;
}

.event-organizers-title {
	font-size: xx-large;
	padding-bottom: 0px;
}

.event-organizer {
	/* 	padding-left: 0px; */
	/* 	padding-right: 40px; */
	/* 	margin: 20px; */
	display: inline-block;
	float: none !important;
	/* 	margin-right: -4px; */
	/* 	color: black; */
}

.event-organizer-picture {
	/* 	border: 1px solid #bbb; */
	border-radius: 10px;
}

.event-organizer-picture-parent {
	padding-left: 30px;
	padding-right: 30px;
	/* 	border: 1px solid black; */
}

.event-organizer-name {
	font-size: large;
	padding-top: 15px;
	padding-bottom: 7px;
}

.event-organizer-email {
	
}

.event-organizer-mobile {
	
}

#map {
	height: 300px;
	width: auto;
}

.event-map-section {
	background-color: #f7f4ed;
}

.event-map-section div {
	/* 	padding: 0px; */
	
}

.race-title {
	margin-bottom: 13px;
}

.race-info {
	padding-left: 0px;
	padding-right: 0px;
	/* 	color: #5e5e5e; */
}

.race-name {
	/* 	background-color: #bbb; */
	/* 	color: white; */
	font-size: x-large;
	padding-right: 6px;
	/* 	color: #bbbbbb; */
}

.race-description {
	text-align: justify;
	/* 	color: #939393; */
}

.race-date {
	/* 	background-color: #bbb; */
	font-size: 15px;
	color: #d9534f;
}

.race-registration {
	font-size: 16px;
}

.race-registration-icon {
	float: left;
	height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}

.race-registration-price {
	font-size: small;
	color: #cffccf;
}

.race-registration-hint {
	font-size: small;
}

.modality-icon {
	width: 16px;
	height: 16px;
}

.calendar {
	border: 1px solid #dbdbdb;
	/* 	border: 1px solid #eee; */
	margin-right: 10px;
	text-align: center;
	font-size: 11px;
	float: left;
	width: 40px;
	float: left;
	font-size: 11px;
	/* 	font-size: x-small; */
	/* 	display: inline; */
	border-radius: 2px;
}

.calendar .day {
	font-size: 1.3em;
}

.calendar .month {
	background-color: #d9534f;
	font-size: 0.9em;
	color: white;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}