body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.seperator:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 43%;
	border-bottom: 1px solid #ccc;
}

.seperator:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 43%;
	border-bottom: 1px solid #ccc;
}

.seperator {
	position: relative;
	display: block;
	margin: 0 0 20px 0;
	text-align: center;
	color: #666;
}